<% provide(:title, "Help") %>

<h1>Help</h1>
<p>
Get help on the Ruby on Rails Tutorial at 
<a href="http://www.railstutorial.org/#help">rails tutorial help section </a>
to get help on this sample app,see the
<a href="http://www.railstutorial.org/book"><em>ruby on rails tutorial</em>
book</a>
</p>
</html>
